
<h1><%= 'top.title'.t %></h1>
<hr />

<!--<p><%= 'top.description'.t %></p>-->

<%= render 'connect/fakes/login_button' %>
<%= render 'connect/facebook/login_button' %>
<%= render 'connect/google/login_button' %>


