<h1><%= 'clients.new.title'.t %></h1>
<hr />

  <%= form_for @client, :html => { :class => "form-horizontal" } do |f| %>
    <%= render 'clients/form', client: @client, f: f %>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <%= f.submit class: "btn btn-success" %>
	    </div>
	  </div>
    
  <% end %>

<!--
<article>
  <h2><%= 'clients.new.title'.t %></h2>
  <%= form_for @client do |f| %>
    <%= render 'clients/form', client: @client, f: f %>
    <%= f.submit %>
  <% end %>
</article>
-->